@import '../../styles/settings.scss';

.component {
  width: 100%;
  display: flex;

  input {
    // flex-grow: 1;
    background: #fff;
    border: 1px solid #cacfd9;
    padding: 12px 12px;
    margin: 0 0 12px 0;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    top: 18px;
    position: absolute;
    margin-left: 50px;
    display: inline-flex;
  }
}
